.form-container {
  width: 400px;
  margin: 60px auto;
  padding: 20px;
  border: 3px solid #d1876f;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.474);
  /* transition: all 0.3s ease; */

}

/* .form-container:hover {
  box-shadow: 0 8px 24px rgb(0, 0, 0);
  transform: translateY(-4px);
} */

.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 22px;
}

form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 14px;
  border: 1px solid #aaa;
  border-radius: 5px;
  font-size: 15px;
}

form button {
  width: 100%;
  padding: 10px;
  background: #800000;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.title_of_Aptitude{
    color: #800000;
    /* padding-bottom: 25px; */
}
.QAEXAM{
  width: 100%;
  min-height: 82vh;
  /* background: linear-gradient(135deg, #f7f3f3 0%, #f0ecec 100%); */
  background: #fefbf4;
  padding: 20px;
  margin-top: -5px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.input-group {
  position: relative;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 6px !important;   /* FIX RIGHT RADIUS */
  outline: none;
  background: transparent;
}
.input-group {
  overflow: visible !important; /* Prevent clipping */
}

.input-group label {
  position: absolute;
  left: 12px;
  top: 12px;
  color: #777;
  font-size: 16px;
  pointer-events: none;
  transition: 0.2s ease-in-out;
}

/* When input is focused OR has value */
.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label {
  top: -10px;
  left: 10px;
  font-size: 12px;
  background: white;
  padding: 0 4px;
  color: #800000;
}

.input-group select {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 6px;
  outline: none;
  background: transparent;
  cursor: pointer;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  /* Dropdown arrow */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23777' viewBox='0 0 16 16'%3E%3Cpath d='M1.5 5.5l6 6 6-6'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 14px center;
  background-size: 12px;
}

.input-group label {
  position: absolute;
  left: 12px;
  top: 12px;
  font-size: 16px;
  color: #777;
  pointer-events: none;
  transition: 0.2s ease-in-out;
  background: white;
}

/* On focus OR when value selected */
.input-group select:focus + label,
.input-group.has-value label {
  top: -10px;
  left: 10px;
  font-size: 12px;
  color: #800000;
  padding: 0 4px;
}